<!DOCTYPE html>
<html class="uk-notouch" lang="en-gb">
<head>
	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
	{% include meta.html %}
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/ma-16-193573.png">
	<script src="{{ site.baseurl }}/js/jquery-2.1.3.min.js"></script>
	<script src="{{ site.baseurl }}/js/uikit.min.js"></script>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/uikit.min.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/uikit.docs.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/docs.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/svg-icons.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>
<body>
	<div class="uk-container uk-container-center">
		<nav style="height: 20px; margin-top: 20px;">
			<ul class="uk-subnav uk-subnav-line">
				<li><a href="{{ site.baseurl }}/">Acton H. Gorton</a></li>
				<li><a href="{{ site.baseurl }}/about">About</a></li>
			</ul>
		</nav>
		<div class="tm-main" style="border: none;">
		    <div class="tm-middle">
				{{ content }}
		    </div>
		</div>
	<a href="http://madewithloveinurbanachampaign.org">Made with &hearts; in Urbana-Champaign</a>
	</div>
	{% include analytics.html %}
</body>
</html>
